* {
    box-sizing: border-box;
}
:root {
 margin: 0;
 padding: 0;
 font-size: 24px;
 font-family: Arial, Helvetica, sans-serif;
 --light-red: rgba(243, 135, 135, 0.858);
 --light-green: rgba(139, 232, 144, 0.858);
 --dark-green: rgb(42, 150, 42);
 --dark-red: red;
}
body{
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33vw;
    height: 100vh;
    background-color: green;
}
.logo {
    margin: 0 auto;
    height: 30%;
    width: 100%;
    background-color: grey;
}
.content {
    display: flex;
    flex-direction: column;
    width: 67vw;
    height: 100vh;
    background-color: red;
}
.text{
    background-color:yellow;
    width: 80%;
}
.form {
    margin: auto;
    margin-top: 0;
    background-color: blue;
    width: 80%;
    height: 70%;
}
form {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}
.text {
    margin: auto;
}
div.input {
    width: 45%;
    margin: .5rem auto;
    position: relative;
    overflow: visible;
}
input {
    appearance: none;
    height: 1.5rem;
    font: inherit;
    font-size: .8rem;
    width: 100%;
    border-radius: 0;
    border: black solid 1px;
    margin: 0;
    margin-top: .35rem;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(219, 219, 219);
}
input:focus {
    outline: 0;
    appearance: none;
    background-color: white;
    transition-duration: .2s;
}
input[name="first_name"],
input[name="last_name"] {
    text-transform: capitalize;
}
input:invalid:not(:placeholder-shown), .confirm-invalid:not(:placeholder-shown) {
    border: var(--dark-red) solid 2px;
    background-color: var(--light-red);
    transition-duration: .4s;
}
input:valid:not(:placeholder-shown):not(#confirmpw):not(:focus), .confirm-valid {
    border: var(--dark-green) solid 2px;
    background-color: var(--light-green);
    transition-duration: .4s;
}
input:valid:not(#confirmpw):not(:placeholder-shown) + .validate-symbol::before,
.confirm-valid + .validate-symbol::before {
 content: "\2713";
 color: var(--dark-green);
 position: absolute;
 right: .25rem;
 top: 1.6rem;
}
input:invalid:not(#confirmpw):not(:placeholder-shown) + .validate-symbol::before,
.confirm-invalid:not(:placeholder-shown) + .validate-symbol::before,
.confirm-valid:invalid:not(:placeholder-shown) + .validate-symbol::before {
    content: "\274C";
    font-size: .75rem;
    color: var(--dark-red);
    position: absolute;
    right: .3rem;
    top: 1.75rem;
}
.confirm-invalid:not(:placeholder-shown) + .validate-symbol::after,
.confirm-valid:invalid:not(:placeholder-shown) + .validate-symbol::after{
    content: '*password fields must match';
    position: absolute;
    right: -175px;
    bottom: 48px;
    font-size: .5rem;
    color: var(--dark-red);
    width: 100%;
}
input:focus:invalid {
    background-color: white;
    transition: .2s;
}
input:valid:focus {
    background-color: white;
    transition: .2s;
    border: var(--dark-green) solid 2px;
}
label {
    margin: .5rem auto;
    font-size: .75rem;
    position: relative;
}
div.button {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 3rem;
}
button {
    margin: auto;
    padding: 0;
    width: 25%;
    height: 1.5rem;
    font-size: 1rem;
}
div#pw-message{
    display: none;
    position: absolute;
    font-size: .5rem;
    width: 100%;
    left: -15rem;
    bottom: -2.5rem;
    background-color: white;
    border: rgb(219, 219, 219) 3px solid;
    border-radius: 10px;
}
.pw-invalid {
    color: var(--dark-red);
}
.pw-invalid::before {
    content: "\274C";
}
.pw-valid {
    color: var(--dark-green);
}
.pw-valid::before{
    content: "\2713";
}